html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Domine, Heuristica, "PT Serif", "Droid Serif", serif;
  line-height: 140%;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

hr {
  border: 0;
  border-top: 1px solid #000;
}

pre {
  border-left: 2px solid #ccc;
  padding: 0 0 0 .5em;
}

/* Overwrite pure.css' default */
menu, ol, ul {
  padding-left: 22px;
}

.c {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.w60 { max-width: 60% }

.main {
  margin: 0 auto;
  max-width: 650px;
  padding: 0 1em;
}

.title h1 span {
  font-size: .5em;
  font-weight: normal;
}
/* Put the subtitle under the title when the screen with is >=400px,
   because it looks prettier. */
@media (max-width: 400px) {
  .title h1 span { display: block }
}

.nav {
  border: 1px solid #000;
  padding: 0 1em;
  line-height: 2em;
}
.nav a {
  text-decoration: none;
}
.nav hr {
  margin: 0;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: .5em 0;
}
.nav li {
  display: inline;
  padding: 0 1em 0 0;
}
.nav li:last-child {
  padding-right: 0;
}
.nav .current a {
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  display: inline-block;
  border-top: 1px solid #222;
  padding: 1em 0 0;
  margin: 1em 0;
}
.footer a {
  text-decoration: none;
}
